body {
  font-family: "Open Sans", sans-serif;
  color: #444444;
}

a {
  color: #fb3640;
  text-decoration: none;
}

a:hover {
  color: #fdca40;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
}
